<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1">
                    <match url="^rw/([^/]+)/([^/]+)/(.*)/download$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?opts={R:1}&amp;&amp;filename={R:2}&amp;path={R:3}&amp;fmode=open" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 2">
                    <match url="^rw/([^/]+)/([^/]+)/download$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?opts={R:1}&amp;filename={R:2}&amp;fmode=open" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 3">
                    <match url="^rw/([^/]+)/([^/]+)/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?opts={R:1}&amp;filename={R:2}&amp;path={R:3}&amp;fmode=open" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 4">
                    <match url="^rw/([^/]+)/([^/]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?opts={R:1}&amp;filename={R:2}&amp;fmode=open" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 5">
                    <match url="^rw/([^/]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?opts={R:1}&amp;fmode=open" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>